@model WebReviewFood.Models.ReviewFood

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_mytemplate.cshtml";
}

<!-- Core Stylesheet -->
<link href="@Url.Content("~/Content/mytemplate/")style.css" rel="stylesheet">

<!-- Responsive CSS -->
<link href="@Url.Content("~/Content/mytemplate/")css/responsive/responsive.css" rel="stylesheet">
<!-- Jquery-2.2.4 js -->
<script src="@Url.Content("~/Content/mytemplate/")js/jquery/jquery-2.2.4.min.js"></script>
<!-- Popper js -->
<script src="@Url.Content("~/Content/mytemplate/")js/bootstrap/popper.min.js"></script>
<!-- Bootstrap-4 js -->
<script src="@Url.Content("~/Content/mytemplate/")js/bootstrap/bootstrap.min.js"></script>
<!-- All Plugins JS -->
<script src="@Url.Content("~/Content/mytemplate/")js/others/plugins.js"></script>
<!-- Active JS -->
<script src="@Url.Content("~/Content/mytemplate/")js/active.js"></script>

@using (Html.BeginForm("Create", "ReviewFoods", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <h4 style="text-align:center">Tạo Bài Viết Mới</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.TenBaiReview, htmlAttributes: new { @class = "control-label col-md-5" })
            <div class="col-md-7">
                @Html.EditorFor(model => model.TenBaiReview, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TenBaiReview, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ThongtinFood, htmlAttributes: new { @class = "control-label col-md-5" })
            <div class="col-md-7">
                @Html.TextAreaFor(model => model.ThongtinFood, 10, 50, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ThongtinFood, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DanhGiaFood, htmlAttributes: new { @class = "control-label col-md-5" })
            <div class="col-md-7">
                @Html.TextAreaFor(model => model.DanhGiaFood, 10, 50, new { htmlAttributes = new { @class = "control-label col-md-5" } })
                @Html.ValidationMessageFor(model => model.DanhGiaFood, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ImageCover, htmlAttributes: new { @class = "control-label col-md-5" })
            <div class="col-md-7">
                <input type="file" name="ImageFiles" required />
            </div>
        </div>
        <div class="form-group">
            <div>
                <div class="col-md-6">
                    <input type="submit" value="Đăng Bài" class="btn btn-default" style="float:right" />
                </div>
                <div class="col-md-6">
                    <button class="btn btn-default">
                        @Html.ActionLink("Trở Về", "Index")
                    </button>
                </div>
            </div>
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}